<!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>

    <h1>You have a new message from, <%= @contact.name %><%=@contact.email %><%= @contact.phone %></h1>
    <p>
      With the message : <%= @contact.message %> <br>
    </p>


    </body>

  </html>